body {
    font-family: 'Times New Roman', Times, serif;
    background-color: whitesmoke;
    text-align: justify;
}
#bevezetes {
    padding-left: 120px;
    padding-right: 120px;
}
.navlink {
    text-decoration: none;
    color: black;
    font-size: larger;
}
#beje {
    padding-left: 40px;
}
#navbar {
    background-color: #007bff;
    color: #343a40;
}
#tori {
    width: 500rem;
    height: auto;
    float: right;
}
.navbar-nav .nav-link {
    color: #ffffffd8;
}
.navbar-nav .nav-link:hover {
    color:#343a40;
}
.dropdown-item .dropdown-item:hover {
    color: #007bff;
} 
tr, th, td, table {
    border: #343a40 solid 1px;
    text-align: center;
    text-decoration: underline;
    font-size: large;
}
table {
    padding-left: 20px;
}
#foci {
    width: 15rem;
}
.bem {
    text-align: center;
    margin-top: 15px;
}
#form-container {
    font-size: 25px;
    padding-bottom: 15px;
}
footer {
    text-align: center;
    background-color: #88bff9;
    color: black;
    font-size: larger;
}

