body {
    font-family: 'Times New Roman', Times, serif;
    background-color: whitesmoke;
    text-align: justify;
}
#bevezetes {
    padding-left: 120px;
    padding-right: 120px;
}
.navlink {
    text-decoration: none;
    color: black;
    font-size: larger;
}
#beje {
    padding-left: 40px;
}
#navbar {
    background-color: #007bff;
    color: #343a40;
}
#tori {
    width: 500rem;
    height: auto;
    float: right;
}
.navbar-nav .nav-link {
    color: #ffffffd8;
}
.navbar-nav .nav-link:hover {
    color: #007bff;
}
.dropdown-item .dropdown-item:hover {
    color: #007bff;
} 
tr, th, td, table {
    border: #343a40 solid 50 px;
}


