body{
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    margin: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  table, th, td {
    border: 1px solid gray;
    border-collapse: collapse;
    padding: 5px;
  }
  p{
    font-size: 20px;
    
  }
  .ubuntu-regular,  p, h1, h2, a, td {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  .navbar-nav .nav-link {
    color: gray;
  }
  .navbar-nav .nav-link:hover {
    color: gray;
  }
  .dropdown-item {
    color: gray;
  } 
  .sidenav {
    height: 100%;
    width: 150px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 30px;
    
  }
  .navlink{
    color: #ffffff;
    text-decoration: none;
    
  }
  #Brazília{
  
  margin-left: auto;
  margin-right: auto;
  }
  h1{
  font-size: 70px;
  }
  footer{
    background-color: black;
    color: antiquewhite;
    text-align: center;
}
.background-image{
  background-image: url(kep5.jpg);
  background-position: center;
    background-repeat: no-repeat;
}
  