     body {
            background-image: url(https://radbence.github.io/9.d-orszagok/D%C3%A9l-Amerika%20/Csille-k%C3%A9pek/chile-day.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            transition: background-image 0.5s ease;
            height: 100%;
            text-align: justify;
        }
        #tartalom {
            width: 100%;
            padding: 20px;
            margin-left: auto;
            margin-right: auto;
            background-color: white;
            transition: background-color 0.5s ease;
        }
        footer{
            background-color:lightslategrey;
            color: white;
            text-align: center;
        }
        h2{
            text-decoration: underline;
            text-decoration-style: double;
            font-weight: bolder;
        }
        h3{
            text-decoration: underline;
            font-weight: bold;
        }
        #navigáció{
            background-color: black;
            a{ color: white;} 
            a:visited{color: white;}
            a:hover{color: whitesmoke;}
            
        }
        ul{
            text-align: left;
        }
        
