h1{
    color: gold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
h2{
    color: gold;
}
h3{
    color: gold;
}
body{
    background-image: url(Uganda-Flag-Desktop-Wallpaper-94253.png) ;
    
}
p{
    color: aqua;
}