style: 

.navbar-nav .nav-link {
    color: #350909d8;
}
.navbar-nav .nav-link:hover {
    color: #dddddd79;
}
.dropdown-item {
    color: #000000;
}

.navlink {
color: black;
font-size: larger;
text-decoration: none;
}


div {
    padding-left: 20px;
    
}

body {
        background-color: blanchedalmond;
}

footer {
    margin: auto;
}
