
#bevezetes {
    padding-left: 120px;
    padding-right: 120px;
}
.navlink {
    text-decoration: none;
    color: black;
    font-size: larger;
}
#beje {
    padding-left: 40px;
}
#navbar {
    background-color: #007bff;
    color: #343a40;
}
img {
    width: 200px;  /* Set the width to 200 pixels */
    height: auto;  /* Automatically adjust the height to maintain aspect ratio */
  }
  
