
#bevezetes {
    padding-left: 120px;
    padding-right: 120px;
}
.navlink {
    text-decoration: none;
    color: black;
    font-size: larger;
}
#beje {
    padding-left: 40px;
}
#navbar {
    background-color: #007bff;
    color: #343a40;
}
.dropdown-item:hover {
    background-color: black;
}
  
