body{
    text-align: justify;
}
#bevezetes{
    padding-left: 120px;
    padding-right: 120px;
}
.navlink{
    text-decoration: none;
    color: black;
    font-size: larger;
}
#beje{
    padding-left: 40px;
}
#kepek{
    height: 50px;
    width: 50px;
}
