div.mycontainer {
    
  overflow:auto;
}
div.mycontainer div {
  float:left;
}
#why{
  background-image:url(OIP.jfi) ;
}
#t1{
  margin-bottom: 15px;
  border-spacing: 10px;
}


.navbar-nav .nav-link {
  color: #ffffff97;
}
.navbar-nav .nav-link:hover {
  color: #dddddd79;
}
.dropdown-item {
  color: #ffffff;
}
